.navbar {
    font-size: 40px;
    justify-content: center;
}

h1{
    font-size: 30px;
}

body {
    background-image: url("../images/crossline-dots/crossline-dots.png");
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0;
}


.form-control{
    height: 200px;
    width: 600px;
}

.generate-password {

}